
@media screen and (max-width:480px) and (min-width:320px){
    body,html{
        margin:0px;
        padding:0px;
        max-width: 100%;
        overflow-x: hidden;
    }
    #header-link{
        width:100%;
        margin-left:1vw;
        margin-top:1vw;
    }
    #img-logo{
        border:2px solid white;
        border-radius:50%;
        width:30vw;
        height:auto;
        padding:1px
    }
    #header{
        position: absolute;
        width:120%;
        height:81%;
        overflow-x: hidden;
        background-color: black;
    }
    #img-header{
        margin-left:-70vw;
        width:220vw;
        height:auto;
    }
    #header-link-text{
        color:black;
        text-decoration: underline;
        text-align:right;
        margin-top: -30%;
        font-size:310%;
        padding:1%;
    }
    #scroll-img{
       position: absolute;
       z-index: 1; 
       margin-top:0%;
       margin-left: 35%;
       height:12%;
    }
    #about{
        position: absolute;
        margin-top: 135%;
        padding: 7%;
    }
    #about-1-heading{
        font-family: ltc-bodoni-175;
        font-size:190%;
        width:100%
    }
    }

@media screen and (min-width:1025px) and (max-width:1280px){
    body, html{
        position: absolute;;
        margin:0px;
        padding:0px;
    }
#img-logo {
        border: 2px solid white;
        border-radius: 50%;
        height: auto;
        width:135%;
    }
    
#header {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: black;
        overflow: hidden;
    }
 #header1{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:9;
 }       
 #img-header{
        width:130%;
        height:130%;
        margin-left: -16%;
        margin-top: -13%;
}
#container {
        width: 100px;
        height: 100px;
        position: relative;
    }
#header-link-text{
    color:white;
    text-decoration:underline;
    font-size:700%;
    margin-top:-155%;
    margin-left:147%;
} 
#scroll-link{
    width: 9%;
    position: absolute;
    z-index:10;
    margin-top:-20%;
    margin-left: 50%;
}   
#scroll-img{
    width:70%;
    height:auto;
}
}
@media screen and (min-width:481px) and (max-width:767px){
    body, html{
        position:relative;
        margin:0px;
        padding:0px;
    }
#img-logo {
        border: 2px solid white;
        border-radius: 50%;
        height: auto;
        width:90%;
    }
    
#header {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: black;
        overflow: hidden;
    }
 #header1{
    width: 100%;
    height: auto;
    position: absolute;
    z-index:9;
 }       
 #img-header{
        width:130%;
        height:130%;
        margin-left: -15%;
        margin-top: -10%;
}
#container {
        width: 100px;
        height: 100px;
        position: relative;
    }
#header-link-text{
    color:white;
    text-decoration:underline;
    font-size:330%;
    margin-top:-90%;
    margin-left:105%;
} 
#scroll-link{
    width: 9%;
    position: absolute;
    z-index:10;
    margin-top:-16%;
    margin-left:47% ;
}   
#scroll-img{
    width:100%;
    height:30%;
}
}
@media screen  and (min-width:768px) and (max-width:1024px) and (orientation:portrait){
    body, html{
        position: relative;
        margin:0px;
        padding:0px;
    }
#img-logo {
        border: 2px solid white;
        border-radius: 50%;
        height: auto;
        width:135%;
        margin-left: 10%;
    }
    
#header {
        width: 100vw;
        height: auto;
        background-color: black;
        overflow: hidden;
        margin-top: 45%;
        position: relative;
    }
 #header1{
    width: 100%;
    height: 100%;
 }       
 #img-header{
        width:200%;
        height:auto;
        margin-left: -58%;
        margin-top: -29%;
}
#container {
        width: 100px;
        height: 100px;
    }
#header-link-text{
    color:black;
    text-decoration:underline;
    font-size:700%;
    margin-top:-150%;
    margin-left:147%;
} 
#scroll-link{
    width: 12%;
    position: absolute;
    z-index:9;
    margin-top:-24%;
    margin-left: 46%;
}   
#scroll-img{
    width:90%;
    height:auto;
}
}   
@media screen  and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    body, html{
        position: relative;
        margin:0px;
        padding:0px;
    }
#img-logo {
        border: 2px solid white;
        border-radius: 50%;
        height: auto;
        width:135%;
        margin-left: 10%;
    }
    
#header {
        width: 100vw;
        height: auto;
        background-color: black;
        overflow: hidden;
        margin-top: 45%;
        position: relative;
    }
 #header1{
    width: 100%;
    height: 100%;
 }       
 #img-header{
        width:200%;
        height:auto;
        margin-left: -58%;
        margin-top: -29%;
}
#container {
        width: 100px;
        height: 100px;
    }
#header-link-text{
    color:black;
    text-decoration:underline;
    font-size:850%;
    margin-top:-169%;
    margin-left:147%;
} 
#scroll-link{
    width: 10%;
    position: absolute;
    z-index:9;
    margin-top:-39%;
    margin-left: 47%;
}   
#scroll-img{
    width:90%;
    height:auto;
}
}     
@media screen and (min-width:1281px){
    body, html{
        position:relative;
        margin:0px;
        padding:0px;
    }
#img-logo {
        border: 2px solid white;
        border-radius: 50%;
        height: auto;
        width:135%;
    }
    
#header {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: black;
        overflow: hidden;
    }
 #header1{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:9;
 }       
 #img-header{
        width:120%;
        height:auto;
        margin-left: -16%;
        margin-top: -10%;
}
#container {
        width: 100px;
        height: 100px;
        position: relative;
    }
#header-link-text{
    color:white;
    text-decoration:underline;
    font-size:700%;
    margin-top:-155%;
    margin-left:140%;
} 
#scroll-link{
    width: 7%;
    position: absolute;
    z-index:10;
    margin-top:-13.6%;
    margin-left: 45%;
}   
#scroll-img{
    width:70%;
    height:auto;
}
}
