@media(min-width:1025px)
{
    body{
        margin:0px;
        padding:0px;
    }
    #img-logo {
        border: 2px solid white;
        border-radius: 50%;
        height: auto;
        width:8%;
    }
    
    #header {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: black;
        font-size:05vw;
    }
    
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:480px){
body{
    margin:0px;
    padding:0px;
}
#img-logo{
    border:1px solid white;
    border-radius:50%;
    width:50%;
    height:auto;
}
}